<ng-container *ngIf="supported; else notsupported">
  <button [disabled]="connected" (click)="connect()">Connect</button>
  <button [disabled]="!connected" (click)="disconnect()">Disconnect</button>
  <hr/>
  <div class="control" style="width: 600px; background-color: antiquewhite">
    <fieldset [disabled]="!connected">
      <input type="number" min="1" max="9" [(ngModel)]="speed"/>
      <button (mousedown)="move(-1)" (mouseup)="stop()">Move CCW</button>
      <button (mousedown)="move(1)" (mouseup)="stop()">Move CW</button>
      Running at: {{ cmd }} / Duration: {{ duration }}
    </fieldset>
  </div>
  <ng-container *ngIf="connected">
    <div class="output" style="height:300px; width: 600px; background-color: aliceblue">
      {{ output$ | async }}
    </div>
  </ng-container>
</ng-container>
<ng-template #notsupported>
  Web Serial Not Supported
</ng-template>

